#debug {
	position: absolute;
	top: 5px;
	left: 5px;
	max-width: 95%;
	max-height: 95%;
	background-color: white;
	color: black;
	z-index: 999;
	opacity: 0.8;
	overflow: scroll;
}

#debug td {
	border: 1px solid silver;
	vertical-align: top;
}

#debug .name {
	color: black;
}

#debug .type {
	color: blue;
}

#debug .value {
	color: red;
}
